---
const { title, subTitle } = Astro.props;
import { Image } from 'astro:assets';
import javascript from '/public/stackIcon/javascript.png';
import typescript from '/public/stackIcon/typescript.png';
import react from '/public/stackIcon/react.png';
import nextjs from '/public/stackIcon/nextjs.png';
import expressjs from '/public/stackIcon/expressjs.png';
import nodejs from '/public/stackIcon/nodejs.png';
import vuejs from '/public/stackIcon/vuejs.png';
import mysql from '/public/stackIcon/mysql.png';
import slack from '/public/stackIcon/slack.png';
import github from '/public/stackIcon/github.png';
import notion from '/public/stackIcon/notion.png';
import git from '/public/stackIcon/git.png';
import postman from '/public/stackIcon/postman.png';
import jira from '/public/stackIcon/jira.png';
import vite from '/public/stackIcon/vite.png';
import prisma from '/public/stackIcon/prisma.png';
import mongoDB from '/public/stackIcon/mongoDB.png';
import mongoose from '/public/stackIcon/mongoose.png';

interface Props {
  title: string;
  subTitle?: string;
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-3/4 lg:w-2/3">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl"
    >
      {title}
    </h2>
    {subTitle && (
      <p class="text-pretty leading-tight text-neutral-600 dark:text-neutral-400">
        {subTitle}
      </p>
    )}
  </div>
  
  <div class="slider">
    <div class="slide-track">
      <Image src={javascript} alt="logo" class="slide"/>
      <Image src={typescript} alt="logo" class="slide"/>
      <Image src={react} alt="logo" class="slide"/>
      <Image src={nextjs} alt="logo" class="slide"/>
      <Image src={expressjs} alt="logo" class="slide"/>
      <Image src={nodejs} alt="logo" class="slide"/>
      <Image src={vuejs} alt="logo" class="slide"/>
      <Image src={mysql} alt="logo" class="slide"/>
      <Image src={slack} alt="logo" class="slide"/>
      <Image src={github} alt="logo" class="slide"/>
      <Image src={notion} alt="logo" class="slide"/>
      <Image src={git} alt="logo" class="slide"/>
      <Image src={postman} alt="logo" class="slide"/>
      <Image src={jira} alt="logo" class="slide"/>
      <Image src={vite} alt="logo" class="slide"/>
      <Image src={prisma} alt="logo" class="slide"/>
      <Image src={mongoDB} alt="logo" class="slide"/>
      <Image src={mongoose} alt="logo" class="slide invert-logo"/>

      <!-- Duplicate slides for smooth infinite scrolling -->
      <Image src={javascript} alt="logo" class="slide"/>
      <Image src={typescript} alt="logo" class="slide"/>
      <Image src={react} alt="logo" class="slide"/>
      <Image src={nextjs} alt="logo" class="slide"/>
      <Image src={expressjs} alt="logo" class="slide"/>
      <Image src={nodejs} alt="logo" class="slide"/>
      <Image src={vuejs} alt="logo" class="slide"/>
      <Image src={mysql} alt="logo" class="slide"/>
      <Image src={slack} alt="logo" class="slide"/>
      <Image src={github} alt="logo" class="slide"/>
      <Image src={notion} alt="logo" class="slide"/>
      <Image src={git} alt="logo" class="slide"/>
      <Image src={postman} alt="logo" class="slide"/>
      <Image src={jira} alt="logo" class="slide"/>
      <Image src={vite} alt="logo" class="slide"/>
      <Image src={prisma} alt="logo" class="slide"/>
      <Image src={mongoDB} alt="logo" class="slide"/>
      <Image src={mongoose} alt="logo" class="slide invert-logo"/>
    </div>
  </div>
</section>

<style>
  .slider {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slide-track {
    display: flex;
    width: calc(230px * 14); /* 250px is the width of each slide image, 14 is the number of images */
    animation: scroll 30s linear infinite;
  }
  
  .slide {
    width: 150px; /* width of each image */
    height: auto;
    padding: 40px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 5)); /* total width of half the images */
    }
  }

  .invert-logo {
    filter: invert(100%) brightness(200%);
  }
</style>
