---
import MainLayout from "../../layouts/MainLayout.astro";
import FeaturesMajecticMixer from "@/components/sections/features/FeaturesMajecticMixer.astro";
import FeaturesRabiberes from "@/components/sections/features/FeaturesRabiberes.astro";
import FeaturesAdminRabiberes from "@/components/sections/features/FeaturesAdminRabiberes.astro";
import FeaturesBeeyondThePages from "@/components/sections/features/FeaturesBeeyondThePages.astro";
import featureImage1 from "@images/majesticmixer.png";
import featureImage2 from "@images/rabiberes.png";
import featureImage3 from "@images/adminRabiberes.png";
import featureImage4 from "@images/beeyondthepages.png";
import majesticMixer from "@/data_files/features/majesticMixer.json";
import rabiberes from "@/data_files/features/rabiberes.json";
import adminRabiberes from "@/data_files/features/adminRabiberes.json";
import beeyondThePages from "@/data_files/features/beeyondThePages.json";
import HeroSectionAlt from "../../components/sections/landing/HeroSectionAlt.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";

/// Fetching all the portfolio related content and sorting it by main.id
const insightPosts: CollectionEntry<"ports">[] =
  await getCollection("ports");

// Define variables for page content
const title: string = "Projects We Have";
const subTitle: string =
  "Explore the diverse range of projects we've successfully completed at Shoftime.Our completed projects reflect our ability to tackle complex challenges, deliver exceptional results, and drive success for businesses across various industries. We take pride in our work and are dedicated to continuously pushing the boundaries of what’s possible."

const pageTitle: string = `Portfolio | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
>
  <section
    class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full"
  >
    <!--Page header-->
    <div class="mx-auto max-w-3xl text-left sm:text-center">
      <h1
        class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl"
      >
        {title.split("Portfolio")[0]}
        <span class="text-yellow-500 dark:text-yellow-400">Completed</span>
      </h1>

      <p
        class="mt-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400"
      >
        {subTitle}
      </p>
    </div>
  </section>
  <!--portfolio section-->
  <section class="features-slider">
    <div class="features-slider-item active">
      <FeaturesMajecticMixer
        title="POS for Majectic Mixer"
        src={featureImage1}
        subTitle="We have created an incredible Point of Sale (POS) or Cashier Application designed to transform retail operations for alcoholic beverage stores from Majestic Mixer. Let's look at the important things."
        alt="POS for Majectic Mixer"
        features={majesticMixer}
      />
    </div>
    <div class="features-slider-item">
      <FeaturesRabiberes
        title="Platform for Wedding Organizers rabiberes.com"
        src={featureImage2}
        subTitle="rabiberes.com is a platform that connects wedding organizers with vendors who can offer their services. It is designed to be user friendly and easy to use, and users can customize whatever vendor they want."
        alt="Platform for weddings Organizers"
        features={rabiberes}
      />
    </div>
    <div class="features-slider-item">
      <FeaturesAdminRabiberes
        title="Admin Panel for weddings Organizers rabiberes.com"
        src={featureImage3}
        subTitle="The admin panel for the platform rabiberes.com provides users with everything they need to manage their wedding. It includes features such as managing vendors, managing orders, managing inventory, and ordering customers."
        alt="ScrewFast products in floating boxes"
        features={adminRabiberes}
      />
    </div>
    <div class="features-slider-item">
      <FeaturesBeeyondThePages
        title="Blogging Website of Beeyond The Pages"
        subTitle="Beeyond the Pages is a cutting-edge blog platform designed to empower anyone and everyone. Whether you're a you can use it to share your knowledge, we designed it to be user-friendly and easy to use."
        src={featureImage4}
        alt="Blogging Website of Beeyond The Pages"
        features={beeyondThePages}
      />
    </div>
  </section>
  <!--portfolio section-->
  <HeroSectionAlt
    title="Let's Grow Together"
    subTitle="We're always looking for ways to improve our portfolios and services. If you have any suggestions or feedback, please don't hesitate to reach out. We'd love to hear from you!"
    url="https://wa.me/6281339541611"
  />
</MainLayout>
